
div.container {
 width: 1000px;
 height: 420px;
 margin: 0px auto;
}

div.grid {
 width: 170px;
 height: 170px;
 margin: 5px;
 line-height: 170px;
 box-shadow: 5px 5px 5px gray;
 font-size: 25px;
 display: inline-block;
}